body {
    color: #000;
}


.navbar-laravel {
  background-color: #fff0c6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #000 !important;
}

.nav-link {
  color: #000 !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25)
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}





.header {
    .logo { 
    width: 120px;
    height: 80px;
  }
}

.posts {
    .post {
        position: relative;
        margin: 10px 0 30px 0;
        background: #fff0c6;
        border-radius: 30px;
        
        .date {
          margin: 0 0 0 20px;
          font-size: 1em;
          color: #999999;
        }
        
        .title {
          font-size: 2em;
          margin: 0 0 0 20px;
          position: center;
          
        }
        
        .name {
          font-size: 1.3em;
          position: relative;
          margin: 0 20px 10px 20px;
          padding: 8px 20px;
          background-color: #fff;
          border-radius: 30px;
        }
        
        .body {
            font-size: 1.3em;
          position: relative;
          margin: 0 20px 40px 20px;
          padding: 8px 15px;
          background: #fff;
          border-radius: 30px;
        }
    }
}

.cond_title {
    margin: 0 0 0 0;
}


.comment {
    font-size: 1.3em;
    background-color: #FFAD90;
    border-radius: 40px;
    
    h2 {
      margin: 30px 0 20px 50px;
    }
    
    .comment-list {
      border-bottom: 2px solid #fff;
        .comment-name {
          font-size: 1em;
          position: relative;
          margin: 10px 20px 10px 20px;
          padding: 8px 15px;
          background: #fff;
          border-radius: 30px;
      }
      
      .comment-body {
          font-size: 1em;
          position: relative;
          margin: 0 20px 40px 20px;
          padding: 8px 15px;
          background: #fff;
          border-radius: 30px;
      }
    }
}

.comment-post {
    font-size: 1.3em;
    margin: 0 0 0 200px;
    position: relative;
    }

i {
  font-size: 18px;
  margin: 0 0 0 30px;
}
h1 {
  margin: 30px 0 20px 30px;
}








